.App {
  text-align: center;
  position: relative;
  top: 50px;
  font-size: xx-large;
  color: black;
}

/* @media (prefers-reduced-motion: no-preference) {
} */

.App h1 {
  color: #63a375;
  font-weight: 600;
}
