.ProfileCompoent{
    width:  300px;
    height: 400px;
    background: white;
    border-radius: 10px; 
    box-shadow: 0px 1px 10px 1px black; 
    overflow: hidden; 
    transform: translate(200px,45px);
}

.upper-container{
height: 10px;
background: linear-gradient(to left, blue, hotpink);

}

.image-container img{
background: white;
width: 100px;
height: 100px;
border-radius: 50%;
padding: 2px;
transform: translate(0px,-32px);
}

img{
border: 2px solid pink;
}

.lower-container{
margin-top: 60px;
height: 300px;
background:white;
text-align: center;
font-family: 'Titillium Web', sans-serif;
}

.lower-container h3,h4,p{
margin: 1;
padding: 0;
}

.lower-container h3{
transform: translate(-280px,0px);
color: black;
font-weight: 600;
font-size: 1.2rem;
}

.lower-container h4{
transform: translate(-295px,10px);
color: black;
font-weight: 600;
font-size: 1.2rem;
}

.lower-container p{
margin: 1rem;
font-weight: 600;
color: black;
font-size: 1.2rem;
transform: translate(-320px,10px);
}

button{
margin: 1rem;
margin-top: 0;
color: black;
font: bold;
background-color: white;
border: 2px solid purple;
padding: 0.6rem;
border-radius: 6px;
transition-duration: 0.5s ;
animation: ease-in-out;
}

button:hover{
background-image: linear-gradient(to left, blue, hotpink);
transform: scale(1.1);
border: none;
color: white;
}