input:focus, button:focus{
    outline: none;
}

.SignUpPageLayout{
    background-image: url(https://media.architecturaldigest.com/photos/5d83c984c857050009ae365a/master/pass/201308_NY_N100_publication.jpg);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 170%;
    color:rgb(91, 40, 40);
    font-size: 30px;
    z-index: 2;
    width: 80%;
    left: 10%;
    transition: all .8s ease-in-out;
    font-family: 'Quicksand-Bold';

}

.SignUpFormat{
    display: flex;
    justify-content: center;
    margin-top: 0%;
    align-items: center;
    flex-direction: column;
    height: 100%;
    font-family: 'Quicksand-Bold';
    font-size: 30px;
    color: rgb(91, 40, 40);
    width: 80%;
    left: 10%;
    background-color: hsl(208, 100%, 97%, 0.5);

}

.SignUpHeading{
    margin-bottom: 8%;
    font-size: 44px;
    font-weight: bolder;
    font-family: 'Quicksand-Bold';
    text-align: center;
    color: rgb(91, 40, 40);
    font-family: 'Quicksand-Bold';
    font-weight: 400;
}

.SignUpForm{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.NameInputText{
    height: 40px;
    padding-left: 10px;
    margin-bottom: 30px;
    align-self: stretch;

    font-family: 'Quicksand-Bold';
    font-size: medium;
    color: rgb(91, 40, 40);
    background-color:#937a7a84;

    border-style:solid;
    border-bottom: solid;
    border-bottom-width: 3px;
    border-bottom-color: rgba(91, 40, 40, 0.7)
}

.NameInputText::placeholder{
    color: rgba(91, 40, 40, 0.7);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.InputText{
    height: 35px;
    padding-left: 20px;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: antiquewhite;
    background-color: transparent;

    border-style: none;
    border-bottom: solid;
    border-bottom-width: 3px;
    border-bottom-color: rgba(255, 255, 255, 0.7)
}

.InstructText{
    text-align: center;
    color: rgb(91, 40, 40);
    font-family: 'Quicksand-Bold';
    font-weight: 200;
}

.passText{
    font-size: medium;
    margin-bottom: 3%;
    margin-top: 0%;
}

.pass2Text{
    font-size: medium;
    font-weight: bold;
}

.ErrorMessages{
    margin-top: 0%;
    padding-left: 20px;
    align-items: center;
    padding-bottom: 20px;
}

.HomeButton{
    height: 80px;
    width: 50%;
    padding: 15px 32px;
    margin-top: 0px;
    color: white;
    background-color: #986060;
    border: solid 2px white;
    height: auto;
    flex-direction: column;
    align-items: center;
    border-radius: 40px;
    font-size: 18px;
}

.BackButton{
        text-align: center;
        right: 38%;
        margin-top: 10px;
        position: absolute;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: rgb(91, 40, 40);
        font-family: 'Quicksand-Bold';
}
